header {
    display: flex;
    justify-content: space-between;
}

.img1 {
    width: 10%;
    height: 10%;
    margin: 0 2%;
}

.header-nav-list {
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
}

.list {
    display: block;
    margin: 5px;
    color: #797878;
    text-decoration: none;
}

.content {
    margin: 0 0 50% 0;
    position: relative;
}

.content-img {
    width: 60%;
    position: absolute;
    right: 0;
    top: 10%;
}

.content-ttl {
    width: 85%;
    position: absolute;
    top: 4vw;
    left: 14vw;
}
.content-ttl1 {
    font-size: 5vw;
    font-family: 'Preahvihear', sans-serif;
    width: 70%;
    color: #c40283;
    line-height: 8vw;
}
    
.content-ttl-groen {
    color: #008080;
}

.content-subttl {
    width: 90%;
    font-size: 2vw;
    color: #c40283;
    font-weight: bold;
    padding: 6vw 0 2vw 0;
}

span {
    color: #008080; 
}

.content-enttl {
    width:90%;
    color: #C0C0C0;
    font-size: 2vw;
    line-height: 3vw;
}

.news {
   width: 100%;
   height: auto;
}

.section-news {
    color: #c40283;
    font-family: 'Preahvihear', sans-serif;
    margin: 0 25%;
    font-size: 2vw;
}

.section-ttl1 {
    color:rgb(100, 100, 100);
    font-size: 3vw;
    margin: 2% 0 5% 25%;
}

.news-lists {
    border-top: solid rgb(196, 196, 196);
    border-bottom: solid rgb(196, 196, 196);
    margin: 0 25%;
    padding: 1vw 0;
    width: 50%;
}

.news-list-link {
    padding: 0 1%;
    color: white;
    background-color: #c40283;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1vw;
}

.news-lists-block {
    list-style: none;
    border-bottom: solid 2px rgb(224, 224, 224);
    padding: 3% 0;
    width: 100%;
}

time {
    margin: 0 5% 0 0;
    color:rgb(139, 139, 139);
    font-size: 1vw;
}
.news-lists-text {
    display: inline-block;
    color:rgb(139, 139, 139);
    font-size: 1vw;
    margin: 0 0 0 5%;
}

.about {
    padding: 5% 0;
    margin: 10% 0 10% 0;
    background-color: #ecebeb;
}

.section-about {
    font-family: 'Preahvihear', sans-serif;
    color: #c40283;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin: 0 0 20px 0;
}

.section-ttl2 {
    display: flex;
    justify-content: center;
    font-size: 3vw;
    color: rgb(107, 107, 107);
}


.about-block {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.about-des {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

.section-des1 {
    width: 70%;
    height: auto;
    line-height: 3vw;
    padding: 20px;
    font-size: 1.5vw;
    color: rgb(110, 110, 110);
}

.section-des2 {
    width: 70%;
    height: auto;
    line-height: 3vw;
    padding: 20px;
    font-size: 1.5vw;
    color: rgb(110, 110, 110);
}

.about-img {
    width: 50%;
    height: 20vw;
    transform: translate( -2vw , 6vw);
}

.service {
    width: 100%;
    height: auto;
}

.section-service {
    color: #c40283;
    font-family: 'Preahvihear', sans-serif;
    margin: 0 15%;
    font-size: 2vw;
}

.section-ttl3 {
    color:rgb(100, 100, 100);
    margin: 2% 0 5% 15%;
    font-size: 3vw;
}

.grid-parent {
    width: 70%;
    margin: 0 15%;
    display: grid;
    grid-template-rows: 12.5vw 12.5vw;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10%;
}

.grid-child1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #b30378;
    padding: 5vw 0;

}

.grid-child1-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-child1-img1 {
    width: 25%;
    height: auto;
}

.grid-child1-ttl {
    display:flex;
    justify-content: center;
}

.grid-child1-ttl1 {
    color:white;
    margin: 5% 0;
    font-size: 1.2vw;
}

.grid-child1-text {
    color: white;
    line-height: 2vw;
    width: 80%;
    font-size: 1vw;
    padding: 0 10%;
}

.grid-child2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(153, 64, 113);
    padding: 10% 0;
}

.grid-child2-img {
    display: flex;
    justify-content: space-around;
}

.grid-child2-img1 {
    width: 25%;
    height: auto;
    transform: translate( 1vw , -3vw);
}

.grid-child2-ttl {
    width: 40%;
    color: white;
    transform: translate( 11vw , -1vw);
    font-size: 1.2vw;
}

.grid-child2-text {
    line-height: 2vw;
    color: white;
    font-size: 1vw;
    padding: 0 20px;
}

.grid-child3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #926b85;
}

.grid-child3-ttl {
    width: 50%;
    color: white;
    transform: translate( 11vw , 2vw);
    font-size: 1.2vw;
}

.grid-child3-img {
    display: flex;
    flex-direction: row;
    transform: translate( 0 , 3vw);
}

.grid-child3-img1 {
    width: 25%;
    height: auto;
    transform: translate( 1vw , -3vw);
}

.grid-child3-text {
    line-height: 2vw;
    color: white;
    font-size: 1vw;
    padding: 0 20px;
}


.blog {
    background-color: #ecebeb;
    padding: 5% 0;
}

.section-blog {
    color: #c40283;
    font-family: 'Preahvihear', sans-serif;
    margin: 0 15%;
    padding: 1vw 0 0 0;
    font-size: 2vw;
}

.section-ttl4 {
    color:rgb(100, 100, 100);
    margin: 2% 0 5% 15%;
    font-size: 3vw;
}

.cards {
    display:flex;
    justify-content: space-between;
    width: 70%;
    padding: 0 15%;
}

.card {
    width: 30%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    list-style-type: none;
}

.card-deco {
    width: 15%;
    background-color: #c40283;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    padding: 0.5vw 1vw;
    color: white;
    font-size: 1.5vw;
}

.card-img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: static;
}

.card-text {
    position: static;
    padding: 20px;
    font-size: bolder;
    line-height: 2vw;
    font-size: 1.5vw;
}

.card-detile {
    display: flex;
    justify-content: space-around;
    padding: 2vw 0 1vw 0;
}

.card-date {
    position: static;
    font-size: 1vw;
}

.card-hashtag {
    width: 40%;
    position: static;
    font-size: 1vw;
}

.blog-allpage {
    display: flex;
    justify-content: center;
    text-align: center;
}

.blog-allpage-link {
    margin: 5% 0;
    padding: 1.5vw 4vw;
    color:#c40283;
    text-decoration: none;
    border-radius: 30px;
    border: solid 2px #c40283;
    background-color: white;
}


.company {
    width: 100%;
    height: auto;
    margin: 0 0 10% 0;
}

.section-company {
    color: #c40283;
    font-family: 'Preahvihear', sans-serif;
    margin: 0 25%;
    padding: 2vw 0 0 0;
    font-size: 2vw;
}

.section-ttl5 {
    color:rgb(100, 100, 100);
    font-size: 3vw;
    margin: 2% 0 5% 25%;
}

.company-table {
    margin: 0 25%;
    width: 50%;
}

.company-table-row {
    width: 100%;
    height: auto;
}

.company-table-hed {
    background-color:#e7e6e6;
    color: #5e5e5e;
    text-align: left;
    padding: 0 10px;
    line-height: 50px;
    border: solid 1px rgb(185, 184, 184);
}

.company-table-des {
    border: solid 1px rgb(185, 184, 184);
    padding: 0 10px;
    color: rgb(139, 139, 139);
}

.infor-imgs {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.infor-imgs-img1 {
    width: 50%;
    
}

.infor-imgs-img2 {
    width: 50%;
}

.infor-imgs-ttl {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infor-adopt {
    color: white;
    transform: translate( 2vw, -10vw);
    font-size: 2vw;
}

.infor-interview {
    color: white;
    transform: translate( 3vw, -10vw);
    font-size: 2vw;
}

.infor-text {
    text-align: center;
    color: #5e5e5e;
    font-size: 1.5vw;
    padding: 2vw 0 0 0;
}

.infor-hor {
    width: 2px;
    height: 40px;
    margin: 30px 0 30px 50%; 
    background-color: #c40283;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}
.infor-btn {
    padding: 1.5vw 5vw;
    background: linear-gradient(90deg,#dd0495, #b905aa);
    border-radius: 30px;
    box-shadow: 0 10px 0 #8f0260;
    position: relative;
    top: 0;
}

.infor-btn::before {
    content: url("img/mailicon.svg");
    display: block;
    width: 15%;
    position: absolute;
    top: 1vw;
    left: 2vw;
}
.infor-btn-link {
    text-decoration: none;
    color: white;
}

.infor-cr {
    text-align: center;
}

small {
    width: 100%;
    margin: 10% 0 0 0;
    display: block;
    background-color: #e7e6e6;
    color:rgb(110, 110, 110);
    padding: 20px 0 20px 0;
}

@media screen and (max-width: 768px) {
header {
    display: flex;
    justify-content: space-between;
}

.img1 {
    width: 10%;
    height: 10%;
    margin: 0 2%;
}

.header-nav-list {
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
}

.list {
    display: block;
    margin: 5px;
    color: #797878;
    text-decoration: none;
}

.content {
    margin: 0 0 50% 0;
    position: relative;
    top: 0;
    right: 0;
}

.content-img {
    width: 60%;
    position: absolute;
    right: 0;
}

.content-ttl {
    width: 80%;
    position: absolute;
    left: 14vw;
    top: 6vw;
}
.content-ttl1 {
    font-size: 5vw;
    font-family: 'Preahvihear', sans-serif;
    width: 90%;
    color: #c40283;
    line-height: 8vw;
}
    


.content-ttl-groen {
    color: #008080;
}

.content-subttl {
    width: 90%;
    font-size: 2vw;
    color: #c40283;
    font-weight: bold;
    padding: 6vw 0 2vw 0;
}

span {
    color: #008080; 
}

.content-enttl {
    width:90%;
    color: #C0C0C0;
    font-size: 2vw;
    line-height: 3vw;
}

.news {
   width: 100%;
   height: auto;
}

.section-news {
    color: #c40283;
    font-family: 'Preahvihear', sans-serif;
    margin: 0 25%;
    font-size: 2vw;
}

.section-ttl1 {
    color:rgb(100, 100, 100);
    font-size: 3vw;
    margin: 2% 0 5% 25%;

}

.news-lists {
    border-top: solid rgb(196, 196, 196);
    border-bottom: solid rgb(196, 196, 196);
    margin: 0 25%;
    padding: 1vw 0;
    width: 50%;
}

.news-list-link {
    padding: 0 1%;
    color: white;
    background-color: #c40283;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1vw;
}

.news-lists-block {
    width: 100%;
    list-style: none;
    border-bottom: solid 2px rgb(224, 224, 224);
    padding: 3% 0;
    width: 100%;
}

time {
    margin: 0 5% 0 0;
    color:rgb(139, 139, 139);
    font-size: 1vw;
}
.news-lists-text {
    display: inline-block;
    margin: 0 0 0 20px;
    color:rgb(139, 139, 139);
    font-size: 1vw;
}

.about {
    padding: 5% 0;
    margin: 10% 0 10% 0;
    background-color: #ecebeb;
}

.section-about {
    font-family: 'Preahvihear', sans-serif;
    color: #c40283;
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
    font-size: 2vw;
}

.section-ttl2 {
    display: flex;
    justify-content: center;
    color: rgb(107, 107, 107);
    font-size: 3vw;
}

.about-block {
    display: flex;
    justify-content: space-around;

}

.about-des {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.section-des1 {
    width: 70%;
    height: auto;
    line-height: 3vw;
    font-size: 2vw;
    padding: 1.5vw;
    color: rgb(110, 110, 110);
}

.section-des2 {
    width: 70%;
    height: auto;
    line-height: 3vw;
    font-size: 2vw;
    padding: 1.5vw;
    color: rgb(110, 110, 110);
}

.about-img {
    width: 40%;
    height: 20vw;
    transform: translate( -2vw, 6vw);
}

.service {
    width: 100%;
    height: auto;
}

.section-service {
    color: #c40283;
    font-family: 'Preahvihear', sans-serif;
    margin: 0 15%;
    font-size: 2vw;
}

.section-ttl3 {
    color:rgb(100, 100, 100);
    margin: 2% 0 5% 15%;
    font-size: 3vw;
}

.grid-parent {
    width: 70%;
    margin: 0 15%;
    display: grid;
    grid-template-rows: 12.5vw 12.5vw;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10%;
}

.grid-child1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #b30378;
    padding: 5vw 0;

}

.grid-child1-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-child1-img1 {
    width: 25%;
    height: auto;
}

.grid-child1-ttl {
    display:flex;
    justify-content: center;
}

.grid-child1-ttl1 {
    color:white;
    margin: 5% 0;
    font-size: 1.2vw;
}

.grid-child1-text {
    width: 80%;
    color: white;
    line-height: 2vw;
    font-size: 1vw;
    padding: 0 10%;
}

.grid-child2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(153, 64, 113);
    padding: 10% 0;
}

.grid-child2-img {
    display: flex;
    justify-content: center;
}

.grid-child2-img1 {
    width: 25%;
    height: auto;
    transform: translate( 1vw , -3vw);
}

.grid-child2-ttl {
    font-size: 1.2vw;
    color: white;
    transform: translate( 11vw , -1vw);
}

.grid-child2-text {
    line-height: 2vw;
    color: white;
    font-size: 1vw;
    padding: 0 20px;
}

.grid-child3 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #926b85;
}

.grid-child3-ttl {
    width: 50%;
    margin: 0;
    font-size: 1.2vw; 
    color: white;
    transform: translate( 11vw , 2vw);
}

.grid-child3-img {
    display: flex;
    flex-direction: row;
    transform: translate( 0 , 3vw);
}

.grid-child3-img1 {
    width: 25%;
    height: auto;
    transform: translate( 1vw , -3vw);
}

.grid-child3-text {
    line-height: 2vw;
    color: white;
    font-size: 1vw;
    padding: 0 20px;
}


.blog {
    background-color: #ecebeb;
    padding: 5% 0;
}

.section-blog {
    color: #c40283;
    font-family: 'Preahvihear', sans-serif;
    margin: 0 15%;
    padding: 1vw 0 0 0;
    font-size: 2vw;
}
/*つぎはここからやる*/
.section-ttl4 {
    color:rgb(100, 100, 100);
    font-size: 3vw;
    margin: 2% 0 5% 15%;
}

.cards {
    display:flex;
    justify-content: space-around;
    width: 70%;
    padding: 0 15%;
}

.card {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    list-style-type: none;
}

.card-deco {
    width: 15%;
    background-color: #c40283;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    padding: 0.5vw 1vw;
    color: white;
    font-size: 1.5vw;
}

.card-img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: static;
}

.card-text {
    position: static;
    padding: 20px;
    font-size: 1.5vw;
    line-height: 2vw;

}

.card-detile {
    display: flex;
    justify-content: space-around;
    padding: 2vw 0 1vw 0;
}

.card-date {
    position: static;
    font-size: 1vw;

}

.card-hashtag {
    width: 40%;
    position: static;
    font-size: 1vw;
}

.blog-allpage {
    display: flex;
    justify-content: center;
    text-align: center;
}

.blog-allpage-link {
    margin: 5% 0;
    padding: 1.5vw 4vw;
    color:#c40283;
    text-decoration: none;
    border-radius: 30px;
    border: solid 2px #c40283;
    background-color: white;
    font-size: 1.5vw;
}


.company {
    width: 100%;
    height: auto;
}

.section-company {
    color: #c40283;
    font-family: 'Preahvihear', sans-serif;
    margin: 0 25%;
    padding: 2vw 0 0 0;
    font-size: 2vw;
}

.section-ttl5 {
    color:rgb(100, 100, 100);
    margin: 2% 0 5% 25%;
    font-size: 3vw;
}

.company-table {
    margin: 0 25%;
    width:50%;
}

.company-table-row {
    width: 100%;
    height: auto;
}

.company-table-hed {
    background-color:#e7e6e6;
    color: #5e5e5e;
    text-align: left;
    padding: 0 10px;
    line-height: 25px;
    border: solid 1px rgb(185, 184, 184);
    font-size: 2vw;
}

.company-table-des {
    border: solid 1px rgb(185, 184, 184);
    padding: 0 10px;
    color: rgb(139, 139, 139);
    font-size: 2vw
}

.infor-imgs {
    width:100%;
    display: flex;
    justify-content: space-between;
}

.infor-imgs-img1 {
    width: 50%;
    
}

.infor-imgs-img2 {
    width: 50%;
}

.infor-imgs-ttl {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infor-adopt {
    color: white;
    transform: translate( 2vw, -11vw);
    font-size: 2vw;
}

.infor-interview {
    color: white;
    transform: translate( 4vw, -11vw);
    font-size: 2vw;
}

.infor-text {
    text-align: center;
    color: #5e5e5e;
    font-size: 1.5vw;
    padding: 2vw 0 0 0;
}

.infor-hor {
    width: 2px;
    height: 4vw;
    margin: 2% 0 2% 50%; 
    background-color: #c40283;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.infor-btn {
    padding: 1.5vw 5vw;
    background: linear-gradient(90deg,#dd0495, #b905aa);
    border-radius: 30px;
    display: inline-block;
    box-shadow: 0 7px 0 #8f0260;
    position: relative;
    top: 0;
}

.infor-btn::before {
    content: url("img/mailicon.svg");
    display: block;
    width: 10%;
    position: absolute;
    left: 2vw;
    top: 2vw;
}
.infor-btn-link {
    text-decoration: none;
    color: white;
}

.infor-cr {
    text-align: center;
}

small {
    margin: 10% 0 0 0;
    display: block;
    background-color: #f5f5f5;
    color:rgb(110, 110, 110);
    padding: 10px 0 10px 0;
    font-size: 10px;
}

}

@media screen and (max-width: 480px) {
header {
    display: flex;
    justify-content: space-between;
}
    
.img1 {
    width: 10%;
    height: 10%;
    margin: 0 2%;
}
    
.header-nav-list {
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
}

.list {
    display: block;
    margin: 5px;
    color: #797878;
    text-decoration: none;
    font-size: 2vw;
}

.content {
    margin: 0 0 50% 0;
    position: relative;
    top: 0;
    right: 0;
}
    
.content-img {
    width: 60%;
    position: absolute;
    right: 0;
}
    
.content-ttl {
    width: 80%;
    position: absolute;
    left: 14vw;
    top: 6vw;
}
    .content-ttl1 {
        font-size: 5vw;
        font-family: 'Preahvihear', sans-serif;
        width: 90%;
        color: #c40283;
        line-height: 8vw;
    }
    
    
    
    .content-ttl-groen {
        color: #008080;
    }
    
    .content-subttl {
        width: 90%;
        font-size: 2vw;
        color: #c40283;
        font-weight: bold;
        padding: 6vw 0 2vw 0;
    }
    
    span {
        color: #008080; 
    }
    
    .content-enttl {
        width:90%;
        color: #C0C0C0;
        font-size: 2vw;
        line-height: 3vw;
    }
    
    .news {
       width: 100%;
       height: auto;
    }
    
    .section-news {
        color: #c40283;
        font-family: 'Preahvihear', sans-serif;
        margin: 0 25%;
        font-size: 2vw;
    }
    
    .section-ttl1 {
        color:rgb(100, 100, 100);
        font-size: 3vw;
        margin: 2% 0 5% 25%;
    
    }
    
    .news-lists {
        border-top: solid rgb(196, 196, 196);
        border-bottom: solid rgb(196, 196, 196);
        margin: 0 25%;
        padding: 1vw 0;
        width: 50%;
    }
    
    .news-list-link {
        padding: 0 1%;
        color: white;
        background-color: #c40283;
        border-radius: 30px;
        text-decoration: none;
        font-size: 1vw;
    }
    
    .news-lists-block {
        width: 100%;
        list-style: none;
        border-bottom: solid 2px rgb(224, 224, 224);
        padding: 3% 0;
        width: 100%;
    }
    
    time {
        margin: 0 5% 0 0;
        color:rgb(139, 139, 139);
        font-size: 1vw;
    }
    .news-lists-text {
        display: inline-block;
        margin: 0 0 0 20px;
        color:rgb(139, 139, 139);
        font-size: 1vw;
    }
    
    .about {
        padding: 5% 0;
        margin: 10% 0 10% 0;
        background-color: #ecebeb;
    }
    
    .section-about {
        font-family: 'Preahvihear', sans-serif;
        color: #c40283;
        display: flex;
        justify-content: center;
        margin: 0 0 20px 0;
        font-size: 2vw;
    }
    
    .section-ttl2 {
        display: flex;
        justify-content: center;
        color: rgb(107, 107, 107);
        font-size: 3vw;
    }
    
    .about-block {
        display: flex;
        justify-content: space-around;
    
    }
    
    .about-des {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    
    .section-des1 {
        width: 70%;
        height: auto;
        line-height: 3vw;
        font-size: 2vw;
        padding: 1.5vw;
        color: rgb(110, 110, 110);
    }
    
    .section-des2 {
        width: 70%;
        height: auto;
        line-height: 3vw;
        font-size: 2vw;
        padding: 1.5vw;
        color: rgb(110, 110, 110);
    }
    
    .about-img {
        width: 40%;
        height: 20vw;
        transform: translate( -2vw, 6vw);
    }
    
    .service {
        width: 100%;
        height: auto;
    }
    
    .section-service {
        color: #c40283;
        font-family: 'Preahvihear', sans-serif;
        margin: 0 15%;
        font-size: 2vw;
    }
    
    .section-ttl3 {
        color:rgb(100, 100, 100);
        margin: 2% 0 5% 15%;
        font-size: 3vw;
    }
    
    .grid-parent {
        width: 70%;
        margin: 0 15%;
        display: grid;
        grid-template-rows: 12.5vw 12.5vw;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 10%;
    }
    
    .grid-child1 {
        grid-column: 1/2;
        grid-row: 1/3;
        background-color: #b30378;
        padding: 5vw 0;
    
    }
    
    .grid-child1-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .grid-child1-img1 {
        width: 25%;
        height: auto;
    }
    
    .grid-child1-ttl {
        display:flex;
        justify-content: center;
    }
    
    .grid-child1-ttl1 {
        color:white;
        margin: 5% 0;
        font-size: 1.2vw;
    }
    
    .grid-child1-text {
        width: 80%;
        color: white;
        line-height: 2vw;
        font-size: 1vw;
        padding: 0 10%;
    }
    
    .grid-child2 {
        grid-column: 2/3;
        grid-row: 1/2;
        background-color: rgb(153, 64, 113);
        padding: 10% 0;
    }
    
    .grid-child2-img {
        display: flex;
        justify-content: center;
    }
    
    .grid-child2-img1 {
        width: 25%;
        height: auto;
        transform: translate( 1vw , -3vw);
    }
    
    .grid-child2-ttl {
        font-size: 1.2vw;
        color: white;
        transform: translate( 13vw , -1vw);
    }
    
    .grid-child2-text {
        line-height: 2vw;
        color: white;
        font-size: 1vw;
        padding: 0 20px;
    }
    
    .grid-child3 {
        grid-column: 2/3;
        grid-row: 2/3;
        background-color: #926b85;
    }
    
    .grid-child3-ttl {
        width: 50%;
        margin: 0;
        font-size: 1.2vw; 
        color: white;
        transform: translate( 13vw , 2vw);
    }
    
    .grid-child3-img {
        display: flex;
        flex-direction: row;
        transform: translate( 0 , 3vw);
    }
    
    .grid-child3-img1 {
        width: 25%;
        height: auto;
        transform: translate( 1vw , -3vw);
    }
    
    .grid-child3-text {
        line-height: 2vw;
        color: white;
        font-size: 1vw;
        padding: 0 20px;
    }
    
    
    .blog {
        background-color: #ecebeb;
        padding: 5% 0;
    }
    
    .section-blog {
        color: #c40283;
        font-family: 'Preahvihear', sans-serif;
        margin: 0 15%;
        padding: 1vw 0 0 0;
        font-size: 2vw;
    }
    .section-ttl4 {
        color:rgb(100, 100, 100);
        font-size: 3vw;
        margin: 2% 0 5% 15%;
    }
    
    .cards {
        display:flex;
        justify-content: space-around;
        width: 70%;
        padding: 0 15%;
    }
    
    .card {
        width: 30%;
        background-color: white;
        border-radius: 10px;
        position: relative;
        z-index: 0;
        list-style-type: none;
    }
    
    .card-deco {
        width: 15%;
        background-color: #c40283;
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        border-top-left-radius: 10px;
        padding: 0.5vw 1vw;
        color: white;
        font-size: 1.5vw;
    }
    
    .card-img {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        position: static;
    }
    
    .card-text {
        position: static;
        padding: 2vw;
        font-size: 1.5vw;
        line-height: 2vw;
    }
    
    .card-detile {
        display: flex;
        justify-content: space-around;
        padding: 2vw 0 1vw 0;
    }
    
    .card-date {
        position: static;
        font-size: 1vw;
    
    }
    
    .card-hashtag {
        width: 40%;
        position: static;
        font-size: 1vw;
    }
    
    .blog-allpage {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .blog-allpage-link {
        margin: 5% 0;
        padding: 1.5vw 4vw;
        color:#c40283;
        text-decoration: none;
        border-radius: 30px;
        border: solid 1px #c40283;
        background-color: white;
        font-size: 1.5vw;
    }
    
    
    .company {
        width: 100%;
        height: auto;
    }
    
    .section-company {
        color: #c40283;
        font-family: 'Preahvihear', sans-serif;
        margin: 0 25%;
        padding: 2vw 0 0 0;
        font-size: 2vw;
    }
    
    .section-ttl5 {
        color:rgb(100, 100, 100);
        margin: 2% 0 5% 25%;
        font-size: 3vw;
    }
    
    .company-table {
        margin: 0 25%;
        width: 50%;
    }
    
    .company-table-row {
        width: 100%;
    }
    
    .company-table-hed {
        background-color:#e7e6e6;
        color: #5e5e5e;
        text-align: left;
        padding: 0 10px;
        line-height: 20px;
        border: solid 1px rgb(185, 184, 184);
        font-size: 2vw;
    }
    
    .company-table-des {
        border: solid 1px rgb(185, 184, 184);
        padding: 0 10px;
        color: rgb(139, 139, 139);
        font-size: 2vw;
    }
    
    .infor-imgs {
        width:100%;
        display: flex;
        justify-content: space-between;
    }
    
    .infor-imgs-img1 {
        width: 50%;
        
    }
    
    .infor-imgs-img2 {
        width: 50%;
    }
    
    .infor-imgs-ttl {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .infor-adopt {
        color: white;
        transform: translate( 2vw, -11vw);
        font-size: 2vw;
    }
    
    .infor-interview {
        color: white;
        transform: translate( 4vw, -11vw);
        font-size: 2vw;
    }
    
    .infor-text {
        text-align: center;
        color: #5e5e5e;
        font-size: 1.5vw;
        padding: 2vw 0 0 0;
    }
    
    .infor-hor {
        width: 2px;
        height: 4vw;
        margin: 2% 0 2% 50%; 
        background-color: #c40283;
    }
    
    .button-wrapper {
        display: flex;
        justify-content: center;
    }
    
    .infor-btn {
        padding: 1.5vw 5vw;
        background: linear-gradient(90deg,#dd0495, #b905aa);
        border-radius: 30px;
        display: inline-block;
        box-shadow: 0 7px 0 #8f0260;
        position: relative;
        top: 0;
    }
    
    .infor-btn::before {
        content: url("img/mailicon.svg");
        display: block;
        width: 10%;
        position: absolute;
        left: 2vw;
        top: 2vw;
    }
    .infor-btn-link {
        text-decoration: none;
        color: white;
        font-size: 2vw
    }
    
    .infor-cr {
        text-align: center;
    }
    
    small {
        margin: 10% 0 0 0;
        display: block;
        background-color: #f5f5f5;
        color:rgb(110, 110, 110);
        padding: 10px 0 10px 0;
        font-size: 2vw;
    }
    
    }